.carousel {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.carousel-image-container {
    width: 60%;
    height: 70%;
    position: relative;
    overflow: hidden;
}

.carousel-image-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    transform: translateX(0%);
    transition: transform 1s ease-in-out;
}

.carousel-image-box {
    min-width: 100%;
    height: 100%;
}

.carousel-image-box:nth-child(1) {
    background-image: url('../img/carousel/Затяжка\ кабеля.jpg');
}

.carousel-image-box:nth-child(2) {
    background-image: url('../img/carousel/Проект\ строительства\ воздушной\ линии.jpg');
}

.carousel-image-box:nth-child(3) {
    background-image: url('../img/carousel/Прокладка\ кабельной\ линии\ в\ траншее.jpg');
}

.carousel-left-arrow {
    transform: rotate(90deg);
    cursor: pointer;
}

.carousel-right-arrow {
    transform: rotate(-90deg);
    cursor: pointer;
}