/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PTRootUIWebMedium',Arial,sans-serif;
}

ul {
    list-style-type: none;
}

.custom-block {
    padding: 2% 5%;
    opacity: 0;
}

.custom-block-description {
    font-size: 1.5rem;
}

.custom-header {
    font-weight: bold;
    font-size: 3rem;
}

.custom-header::after {
    display: block;
    content: '';
    width: 150px;
    height: 4px;
    background-color: #5b5da8;
    margin-bottom: 1rem;
}

.double-container {
    display: flex;
    height: 60vh;
    width: 100%;
}

/* ANIMATIONS */
@keyframes appear {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes appear-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.appear {
    animation: appear 1s ease-out;
    animation-fill-mode: forwards;
}

.appear-bottom {
    animation: appear-bottom 1s ease-out;
    animation-fill-mode: forwards;
}

/* ADAPTIVE */
/* MOBILE */
@media (max-width: 600px) {
    .start-title {
        font-size: 2rem;
    }

    .start-undertitle {
        font-size: 1rem;
    }

    .about {
        height: auto;
    }

    .custom-block {
        max-width: 100%;
    }

}

@media (max-width: 420px) {
    .double-container {
        flex-direction: column;
    }
}