* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

ul, li {
    list-style-type: none;
}

@keyframes appear {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes appear-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.start-container {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://w0.peakpx.com/wallpaper/468/292/HD-wallpaper-anime-landscape-sunset-sky-horizon-bird-clouds-cityscape-anime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.appear {
    animation: appear 1s ease-out;
    animation-fill-mode: forwards;
}

.appear-bottom {
    animation: appear-bottom 1s ease-out;
    animation-fill-mode: forwards;
}

.start {
    display: flex;
    width: 50%;
    height: 50%;
    flex-direction: column;
    color: #fff;
    animation: appear 1s ease-out;
}

.start-title {
    font-weight: bold;
    font-size: 7rem;
}

.start-undertitle {
    font-size: 1.25rem;
}

.content-container {
    padding: 0 20%;
}

.custom-block {
    padding: 2% 5%;
}

.custom-block-description {
    font-size: 1.5rem;
}

.about {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-header {
    align-self: start;
}

.about-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.about-list-item {
    width: 100%;
    display: flex;
    padding-top: 2rem;
    opacity: 0;
}

.about-list-item:nth-child(1) {
    animation: appear 1s ease-out .1s;
    animation-fill-mode: forwards;
}

.about-list-item:nth-child(2) {
    animation: appear 1s ease-out .3s;
    animation-fill-mode: forwards;
}

.about-list-item:nth-child(3) {
    animation: appear 1s ease-out .5s;
    animation-fill-mode: forwards;
}

.about-list-image {
    margin-right: 2%;
}

.about-list-text {
    
}

.custom-header {
    font-weight: bold;
    font-size: 3rem;
}

.custom-header::after {
    display: block;
    content: '';
    width: 150px;
    height: 4px;
    background-color: #5b5da8;
    margin-bottom: 1rem;
}

.footer {
    display: flex;
    flex-direction: row;
}

.advantages {
    background-color: #5b5ea8c4;
    color: #fff;
}

.partners {
    height: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;  
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.partner-logos {
    height: 100%;
    display: flex;
}

.partner-logo {
    flex: 1;
    height: 100%;
}

.sberbank {
    background-image: url(/img/sber.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.rostelecom {
    background-image: url(/img/rostelecom.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.lukoil {
    background-image: url(/img/lukoil.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts {
    width: 100%;
    height: 300px;
    flex: 1;
    background-color: #5b5ea8c4;
    color: #fff;
}